---
import { Image } from "astro:assets";
import type { HeroSection } from "sanity.types";
import { urlFor } from "sanity.config";
type Props = {
  heroSection: HeroSection;
};
let { heroSection }: Props = Astro.props;
---

<section
  class="h-screen w-full flex justify-center items-center relative overflow-hidden"
>
  <div class="main-container relative z-20">
    <div class="max-w-[818px] mx-auto text-center">
      <h1 class="text-h1-m lg:text-h1">
        <span class="text-primary"
          >{heroSection.heading?.headlineColorText}</span
        >
        {heroSection.heading?.headlineNormalText}
      </h1>
      <p class="text-big-m lg:text-big text-white pt-5 pb-10 md:pb-12 md:pt-7">
        {heroSection.subheading}
      </p>
    </div>
    <a href={heroSection.button?.url} class="primary-button mx-auto max-w-max"
      >{heroSection.button?.text}</a
    >
  </div>
  <div class="bg-dark/40 absolute inset-0"></div>
  <Image
    src={urlFor(heroSection.backgroundImage).url()}
    alt="bg-1"
    height={1080}
    width={1920}
    class="fixed inset-0 object-cover -z-10"
  />
</section>
