---
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import "@/styles/style.css";
import { sanityClient } from "sanity:client";
import type { Settings } from "@/types/sanity";
let { title = "MDS", description = "MDS" } = Astro.props;

const SETTINGS_QUERY = `*[_type == "settings"]{
  header{
    logo,
    navigation[]{
      title,
      url
    }
  },
  footer{
    logo,
    navigation[]{
      title,
      url
    },
    copyrightText
  }
}[0]`;
const settings = await sanityClient.fetch<Settings>(SETTINGS_QUERY);
console.log("Settings:", settings);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Header header={settings.header} />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer footer={settings.footer} />
  </body>
</html>
